<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.adswitcher.adapter.adfurikunvideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="net.adswitcher.adapter.adfurikunvideo.AdfurikunVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>
